h1 {
	color: white;
	text-align: center;
	font-weight: bold!important;
	font-family: 'Shadows Into Light Two', cursive;
}
#mainh1 {
	color: white;
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 100px;
}
h3 {
	text-align: center;
	font-size: 35px!important;
	font-weight: bold!important;
	font-family: 'Shadows Into Light Two', cursive;
}
h2 {
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 55px;
	color:#3bd6c6;
	font-weight: bold!important;
	text-align: center;

}

p {
	width: 100%;
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 25px;
	color: white;
}
#destination {
	color:#3bd6c6;
}
#trips {
	
	padding: 10px;
	width: 40%;
	font-family: 'Shadows Into Light Two', cursive;

}
#profilebody, #searchbody, #loginbody, #show, #signupbody {
	background: #f6b763;
	padding: 10px;
}


#tripform {
	border: 3px solid white;
	width: 50%;
	border-radius: 5px;
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 50px!important;
	top: 50%;
	left: 50%;
}
#indexbody {
	background-image: url('car.jpg');
	position: relative;
	background-size: 100%;
    background-size: cover;
	background-position: center center;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 0 0 100px 0;
}
.form1{
	text-align: center;
	padding: 20px;
	position: center center;
	margin-left: 100%!important;
	width: 100%;
	
}
h4 {
	font-family: 'Shadows Into Light Two', cursive;
	font-weight: bold!important;
	color: #3bd6c6;

}
.mainh3 {
	font-size: 45px!important;
	color: white!important;
}
.plan {
	font-size: 45px;
	font-weight: bold!important;
	text-align: center;
}
.profilebuttons {
	position: relative;
	text-align: center!important;
}
.backtoprofile{
	text-align: center!important;
	position: relative;
	bottom: 0!important;

}
.widget {
	
	background:#3bd6c6!important;
}
.btn {
	background-color:#3bd6c6!important;
}
label {
	font-size: 20px!important;
	color: white!important;
	background: #f6b763;
	font-family: 'Shadows Into Light Two', cursive;

}
.mytrips {
	width: 100%;
	left: 50%;
	text-align: center;
}
.singletrip {
	text-align: center;
}
.helptext {
	display: none;
}
#getstarted {
	font-size: 80px;
	background-color: #3bd6c6;
	opacity: .7;
	border-radius: 15px;
	padding: 10px;
	color: white;
}
#loginhere {
	background-color: #ee1289;
	opacity: .7;
	border-radius: 10px;
	padding: 0px 10px 0px 10px;
	color: white;
}
footer {
	text-align: center!important;
	background-color: #3bd6c6;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 15px;
	width: 100%;
	font-weight: bold;
	color: white;
	height: 1rem;
	padding: 2rem;
	opacity: .7;
	font-family: 'Shadows Into Light Two', cursive;
}
#footer {
	text-align: center!important;
	font-size: 20px;
	padding: 1rem;
	height: 40px;

}	
#map {
	height: 80%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#description {
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
}

#infowindow-content .title {
	font-weight: bold;
}

#infowindow-content {
	display: none;
}

#map #infowindow-content {
	display: inline;
}

.pac-card {
	margin: 10px 10px 0 0;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	font-family: 'Shadows Into Light Two', cursive;
}

#pac-container {
	padding-bottom: 12px;
	margin-right: 12px;
}

.pac-controls {
	display: inline-block;
	padding: 5px 11px;
}

.pac-controls label {
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 13px;
	font-weight: 300;
}

#pac-input {
	background-color: #fff;
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 400px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

#title {
	color: #fff;
	background-color: #4d90fe;
	font-size: 25px;
	font-weight: 500;
	padding: 6px 12px;
}
#target {
	width: 345px;
}