{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Trip Planner</title>
    <script src="{% static 'app.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
  	</head>
  	<body>
      {% block content %}
  		{% if user.is_authenticated %}
        <a href="{% url 'profile' user.username %}">Hello, {{user.username}}!</a> |
        <a href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'login' %}">Login</a>
      {% endif %}

      {% endblock %}







<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9HBw5avpPjO8WS3Tl6SE1C09xTN-CQTY&libraries=places&callback=initAutocomplete"async defer>
</script>

  	</body>
  	</html>
