{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<body id = "profilebody"></body>
<div><h1 id = "welcome">Welcome Back!</h1></div>
<br>
<br>

  <div class = "container">
    <div class = "mytrips">
      <h4 class="plan">My Trips:</h4>
        {% for trip in trips %}
          <a href="/{{trip.id}}" class="link">
    	     <p>Destination: {{trip.destination}}</p>
          </a>
    	     <p>Duration: {{trip.duration}}</p>
           <hr>
{%endfor%}
      </div>
    </div>

  <div class = "col-s6">
    <h4 class="plan">Plan New Trip</h4>
      <form action="/post_url/" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Add Trip" class="btn">
    </form>
  </div>
</div>
  
  <div class = "profilebuttons">
    <a href="{% url 'logout' %}" class="btn">Logout</a>
    <a href= "/" class = "btn">Home</a>
    <a href="{% url 'search' %}" class="btn">Find a new trip</a>
  </div>


{% endblock %}