{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h1>Where to now?</h1>
<body id = searchbody>

<input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
    <br>
<div class="container" data-skyscanner-widget="SearchWidget">
	<div class = "widget"></div>
</div>
<script src="https://widgets.skyscanner.net/widget-server/js/loader.js" async></script>

<br>

<div class = "backtoprofile">
	<a href="{% url 'profile' user.username %}" class="btn">Back to Profile</a>
</div>
{% endblock %}
